@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a {
  color: black;
}
.drawer-side a.active {
  color: #ffffff !important; /* Use your desired red color here */
  background-color: transparent !important;
}
